<section class="maxWidth">

    <div class="im">
        <h1>Imprint</h1>
        <div class="goBack"><a href="https://arditqoku.com/"><img src="./../../../../assets/img/forms/goup.png"></a></div>
    </div>

    <p>
        Ardit Qoku<br />
        Streffleurgasse 1/4<br />
        1200 Wien
    </p>

    <h2>{{'imprint.contact' | translate}}</h2>
    <p>{{'imprint.mobile' | translate}} +43 670 602 51 52<br />
        E-Mail: arditqoku&#64;hotmail.com
    </p>

    <p>Quelle: <a target="_blank" href="https://e-recht24.de">eRechts24</a></p>
</section>
