<section id="portfolio">
    <div class="headlinePortfolio ">
        <div class="lineOutsideTransparent"></div>

        <div class="subHeader ">
            <div class="lineLeftEmpty"></div>
            <div class="lineLeft"></div>
            <span class="animateOnScroll">Portfolio</span>
            <div class="lineLeft"></div>
            <div class="lineRight"></div>

        </div>
        <div class="lineOutsideRight"></div>
    </div>
    <span class="maxWidth subText animateOnScroll">{{'portfolio.subText' | translate}}</span>
    <app-project linkTest="https://join.arditqoku.com" link="https://github.com/ArditQoku/Join---Kanban-Board" img="/assets/img/laptop1.png" title="Join"
                 skills="HTML | CSS | JavaScript | Firebase" description="{{'portfolio.projectOne' | translate}}"></app-project>
    <app-project-reverse linkTest="https://elpolloloco.arditqoku.com" link="https://github.com/ArditQoku/El-Pollo-Loco"
                         img="/assets/img/laptop2.png" title="El Pollo Loco" skills="HTML | CSS | JavaScript | OOP"
                         description="{{'portfolio.projectTwo' | translate}}"></app-project-reverse>
</section>
